.parallax {
    background-attachment: fixed;
    background-image: url("pictures/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.text-block-font-family {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-box {
    padding: 1%;
}

.navbar-dark .navbar-nav .active>.nav-link {
    font-size: 20px;
}

.text-border {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body {
    background-color:#F5F5F5;
}

.mt-6 {
    margin-top: 6%;
}

.mt-35 {
    margin-top: 35%;
}

.no-list-style {
    list-style: none;
}

.scroll-to-top {
    width:50px; 
    height:50px;
    padding:10px; 
    text-align:center; 
    background: #444;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:90%;
    right:2.5%;
    display:none;
    border-radius: 100%;
    z-index: 999;
    opacity: 0.8;
}

.scroll-to-top:hover {
    color:white;
    background-color: black;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.footer {
    color:white;
    margin-top: 100px;
    background-color: #2196f3;
    height: auto;
    width: 100%;
    overflow:hidden;
}